In [16]:
import pandas as pd

In [17]:
alcoholfirst = pd.read_csv("C:\\IST\\5520\\Project\\alcohol\\alcohol_2000_to_2009.csv",
                           header = 0,
                           skiprows = 1,
                           names=("country", "source", "beverage", "2009", "2008", "2007", "2006", "2005", "2004", "2003",
                                 "2002", "2001", "2000"))
alcoholfirst.head(10)

,country,source,beverage,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Afghanistan,Data source,All types,0.03,0.03,0.03,0.03,0.02,0.02,0.01,0.01,0.00,0.00
1,Afghanistan,Data source,Beer,0.01,0.01,0.01,0.01,0.01,0.02,0.00,0.00,0.00,0.00
2,Afghanistan,Data source,Wine,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Afghanistan,Data source,Spirits,0.02,0.02,0.02,0.02,0.01,0.00,0.01,0.00,0.00,0.00
4,Afghanistan,Data source,Other alcoholic beverages,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,Albania,Data source,All types,6.04,5.82,5.76,5.46,5.30,4.67,4.43,4.01,4.71,3.98
6,Albania,Data source,Beer,2.20,2.13,1.94,1.79,1.65,1.37,1.45,1.29,1.49,1.33
7,Albania,Data source,Wine,1.28,1.20,1.35,1.28,1.33,1.07,0.77,0.54,1.09,0.57
8,Albania,Data source,Spirits,2.44,2.38,2.36,2.28,2.23,2.14,2.21,2.18,2.13,2.08
9,Albania,Data source,Other alcoholic beverages,0.12,0.11,0.11,0.11,0.09,0.08,0.00,0.00,0.00,0.00

In [18]:
alcoholsecond = pd.read_csv("C:\\IST\\5520\\Project\\alcohol\\alcohol_2010_to_2016.csv",
                          header = 0,
                          skiprows = 1,
                          names=("country", "source", "beverage", "2016", "2015", "2014", "2013", "2012", "2011", "2010"))
alcoholsecond.head(10)

,country,source,beverage,2016,2015,2014,2013,2012,2011,2010
0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,0.03
1,Afghanistan,Data source,Beer,NaN,0.01,0.01,0.01,0.01,0.01,0.01
2,Afghanistan,Data source,Wine,NaN,0.00,0.00,0.00,0.00,0.00,0.00
3,Afghanistan,Data source,Spirits,NaN,0.02,0.02,0.02,0.03,0.03,0.02
4,Afghanistan,Data source,Other alcoholic beverages,NaN,0.00,0.00,0.00,0.00,0.00,0.00
5,Albania,Data source,All types,5.07,4.77,4.81,5.06,5.43,5.65,5.53
6,Albania,Data source,Beer,1.74,1.57,1.58,1.82,1.81,1.88,1.72
7,Albania,Data source,Wine,1.34,1.17,1.12,1.06,1.30,1.27,1.30
8,Albania,Data source,Spirits,1.90,1.94,2.02,2.09,2.22,2.40,2.39
9,Albania,Data source,Other alcoholic beverages,0.09,0.08,0.09,0.09,0.10,0.10,0.12

In [70]:
alcohol_main = pd.DataFrame(columns=("Country", "Year", "Alcohol_Consumption"))
alcohol_main

Empty DataFrame
Columns: [Country, Year, Alcohol_Consumption]
Index: []

In [28]:
alcoholfirst.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Republic of North Macedonia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [48]:
alcohol_main['Country']= alcoholfirst['country']

In [54]:
alcoholfirst.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Republic of North Macedonia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [59]:
alcohol_country = alcoholfirst.country.unique()

In [60]:
alcohol_country

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Republic of North Macedonia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [71]:
alcohol_main['Country'] = alcohol_country

In [72]:
alcohol_main

,Country,Year,Alcohol_Consumption
0,Afghanistan,NaN,NaN
1,Albania,NaN,NaN
2,Algeria,NaN,NaN
3,Andorra,NaN,NaN
4,Angola,NaN,NaN
5,Antigua and Barbuda,NaN,NaN
6,Argentina,NaN,NaN
7,Armenia,NaN,NaN
8,Australia,NaN,NaN
9,Austria,NaN,NaN
10,Azerbaijan,NaN,NaN
11,Bahamas,NaN,NaN
12,Bahrain,NaN,NaN
13,Bangladesh,NaN,NaN
14,Barbados,NaN,NaN
15,Belarus,NaN,NaN
16,Belgium,NaN,NaN
17,Belize,NaN,NaN
18,Benin,NaN,NaN
19,Bhutan,NaN,NaN
20,Bolivia (Plurinational State of),NaN,NaN
21,Bosnia and Herzegovina,NaN,NaN
22,Botswana,NaN,NaN
23,Brazil,NaN,NaN
24,Brunei Darussalam,NaN,NaN
25,Bulgaria,NaN,NaN
26,Burkina Faso,NaN,NaN
27,Burundi,NaN,NaN
28,Cabo Verde,NaN,NaN
29,Cambodia,NaN,NaN
...,...,...,...
160,Sudan,NaN,NaN
161,Suriname,NaN,NaN
162,Sweden,NaN,NaN
163,Switzerland,NaN,NaN
164,Syrian Arab Republic,NaN,NaN
165,Tajikistan,NaN,NaN
166,Thailand,NaN,NaN
167,Republic of North Macedonia,NaN,NaN
168,Timor-Leste,NaN,NaN
169,Togo,NaN,NaN
170,Tonga,NaN,NaN
171,Trinidad and Tobago,NaN,NaN
172,Tunisia,NaN,NaN
173,Turkey,NaN,NaN
174,Turkmenistan,NaN,NaN
175,Tuvalu,NaN,NaN
176,Uganda,NaN,NaN
177,Ukraine,NaN,NaN
178,United Arab Emirates,NaN,NaN
179,United Kingdom of Great Britain and Northern I...,NaN,NaN
180,United Republic of Tanzania,NaN,NaN
181,United States of America,NaN,NaN
182,Uruguay,NaN,NaN
183,Uzbekistan,NaN,NaN
184,Vanuatu,NaN,NaN
185,Venezuela (Bolivarian Republic of),NaN,NaN
186,Viet Nam,NaN,NaN
187,Yemen,NaN,NaN
188,Zambia,NaN,NaN
189,Zimbabwe,NaN,NaN

In [80]:
alcohol_main[5]

KeyError: 5